@{
    ViewData["Title"] = "Rencana Kerja Tahunan";

    var CurrentYear = DateTime.Now.Year;
    var OneYearsAgo = DateTime.Now.AddYears(-1).Year;
    var TwoYearsAgo = DateTime.Now.AddYears(-2).Year;
}


<div class="d-flex flex-row py-4 justify-content-between">
    <div class="title-renja">
        Rencana Kerja Tahunan
    </div>
    <div class="dropdown">
        <select class="form-select">
            <option value="" disabled selected>Tahun</option>
            <option value="@CurrentYear">@CurrentYear</option>
            <option value="@OneYearsAgo">@OneYearsAgo</option>
            <option value="@TwoYearsAgo">@TwoYearsAgo</option>
        </select>
    </div>
</div>

<div id="TotalRencanaAnggaran">
	<div class="subtitle-renja">
		Total Rencana Anggaran
	</div> 

	<div class="row mt-2">
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7F0FF; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-pendidikan.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Pendidikan
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #FBEBF3; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-kesehatan.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Kesehatan
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7FAFD; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-ekonomi.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Ekonomi
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7FAF0; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-lingkungan.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Lingkungan
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #FEE8EC; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-tanggapdarurat.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Tanggap Darurat
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #F2EFFF; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-donasi.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Donasi
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="mb-4 card-pemetaanpilar">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="card d-flex justify-content-center align-items-center" style="background-color: #FFFAE7; border-color: transparent; width: 32px; height: 32px;">
							<img src="~/img/icon-skor.png" class="img-fluid p-1">
						</div>
						<div class="ms-2">
							<div class="mb-1 mt-2 lh-1 d-flex align-items-center title-pilar">
								Total Anggaran CSR
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Diajukan</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
							<div class="mt-3 row">
								<span class="konfirmasi-renja">Disetujui</span>
								<span class="total-renja">500,000,000<span style="font-size: 16px; line-height: 24px;">IDR</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="DetailRencanaKerja">
	<div class="subtitle-renja">
		Detail Rencana Kerja
	</div>

<a asp-action="RenjaPendidikan" asp-controller="RencanaKerjaPendidikan" style="color: #000000; text-decoration: none;">
	<div class="col-12 mt-2">
		<div class="card card-renja mb-3" style="border-radius: 8px;">
			<div class="card-body card-formpemetaanpilar" style="height: auto;">
				<div class="row">
					<div class="col-11" style="width: 95%;">
						<div class="row">
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FFFAE7; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-perusahaan.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Perusahaan :
										</div>
										<div class="mt-0 fill-detail-renja">United Tractors</div>
									</div>
								</div>
							</div>		
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FFFAE7; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-unit.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Unit/Area :
										</div>
										<div class="mt-0 fill-detail-renja">Head Office</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FFFAE7; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-periode.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Periode Renja :
										</div>
										<div class="mt-0 fill-detail-renja">2024</div>
									</div>
								</div>
							</div>	
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FFFAE7; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-statusrenja.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Status Renja :
										</div>
										<div class="mt-0 fill-detail-renja" style="color: #FFCA0D; font-weight: 600;">Konfirmasi Ulang</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mt-4 lh-1 d-flex align-items-center title-detail-renja">
							Total Rencana Kerja :
						</div>
						<div class="row mb-3">
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7F0FF; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-pendidikan.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Pendidikan :
										</div>
										<div class="mt-0 fill-detail-renja">3 Program</div>
									</div>
								</div>
							</div>		
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FBEBF3; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-kesehatan.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Kesehatan :
										</div>
										<div class="mt-0 fill-detail-renja">1 Program</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7FAFD; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-ekonomi.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Ekonomi :
										</div>
										<div class="mt-0 fill-detail-renja">2 Program</div>
									</div>
								</div>
							</div>	
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #E7FAF0; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-lingkungan.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Lingkungan :
										</div>
										<div class="mt-0 fill-detail-renja">3 Program</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #FEE8EC; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-tanggapdarurat.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Tanggap Darurat :
										</div>
										<div class="mt-0 fill-detail-renja">1 Program</div>
									</div>
								</div>
							</div>	
							<div class="col-xl-3 col-sm-6 col-12 mt-3">
								<div class="d-flex flex-row">
									<div class="card d-flex justify-content-center align-items-center" style="background-color: #F2EFFF; border-color: transparent; width: 32px; height: 32px;">
										<img src="~/img/icon-donasi.png" class="img-fluid p-1">
									</div>
									<div class="ms-2">
										<div class="mb-2 mt-1 lh-1 d-flex align-items-center title-detail-renja">
											Donasi :
										</div>
										<div class="mt-0 fill-detail-renja">1 Program</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="col-1" style="width: 5%;">
						<i id="dropdownToggle" class="fa-solid fa-ellipsis-vertical mt-3" onclick="toggleDropdownMenu()"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
</div>