@model IEnumerable<dynamic>
    
@foreach (var data in Model)
{
    <div class="card mb-3" style="border-radius: 8px;">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="title-pilar">@data.tahun_dokumen</div>
                @if (data.status_disetujui != "Draft")
                {
                    <a onclick="showModalStatusDokumen('@Url.Action("StatusDokumen", "MenuPemetaanSosialController", null, Context.Request.Scheme)', 'Status Dokumen', '@data.id', '@data.tahun_dokumen')"
                        class="btn ms-auto me-2 p-2" type="button" style="font-weight: 400; text-decoration: none; border-color: #ffca0d;">
                        <div class="d-flex flex-row">
                            <div class="card d-flex justify-content-center align-items-center"
                                style="background-color: #FFF9E5; border-color: transparent; width: 32px; height: 32px;">
                                <i class="fa-solid fa-folder-open" style="color: #FFCA0D;"></i>
                            </div>
                            <div class="ms-2">
                                <div class="mt-2 d-flex align-items-center text-masterdata">
                                    Status Dokumen
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a onclick="return false;" class="btn ms-auto me-2 p-2 disabled" type="button" style="font-weight: 400; text-decoration: none; border-color: #ffca0d;">
                        <div class="d-flex flex-row">
                            <div class="card d-flex justify-content-center align-items-center"
                                style="background-color: #FFF9E5; border-color: transparent; width: 32px; height: 32px;">
                                <i class="fa-solid fa-folder-open" style="color: #FFCA0D;"></i>
                            </div>
                            <div class="ms-2">
                                <div class="mt-2 d-flex align-items-center text-masterdata">
                                    Status Dokumen
                                </div>
                            </div>
                        </div>
                    </a>
                }

                <a asp-action="MonografiWilayah" asp-controller="PemetaanPilarMonografiWilayah" asp-route-kode_cabang="@ViewBag.KodeCabang" asp-route-tahun_dokumen="@data.tahun_dokumen"
                    class="btn p-2" type="button" style="font-weight: 400; text-decoration: none; background-color: #ffca0d;">
                    <div class="d-flex flex-row">
                        <div class="card d-flex justify-content-center align-items-center"
                            style="background-color: #FFF9E5; border-color: transparent; width: 32px; height: 32px;">
                            <i class="fa-solid fa-pen-to-square" style="color: #FFCA0D;"></i>
                        </div>
                        <div class="ms-2">
                            <div class="mt-2 d-flex align-items-center text-masterdata">
                                Lihat Detail
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if (data.status_verifikasi != null)
            {
                <div class="title-pilar" style="color: @(data.status_verifikasi == "Dokumen Telah Diverifikasi" ? "#13CE66" : "#F8183E");">
                    @data.status_verifikasi
                </div>
            }
        </div>
    </div>
}

<!-- Modal Status Dokumen -->
<div class="modal fade" id="modalstatusdokumen" tabindex="-1" aria-labelledby="modalstatusdokumen" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #000000;">
        <h5 class="modal-title" style="color: #FFCA0D; font-weight: 600;"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #FFCA0D; opacity: 5;"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

@* Status Dokumen *@
<script>
	function showModalStatusDokumen (url, title, id, tahunDokumen) {
		console.log("Cek_" + title + " id_" + id + "tahunDokumen_" + tahunDokumen);
		@* return false; *@
		$.ajax({
			type: "GET",
			url: '/MenuPemetaanSosial/StatusDokumen/' + '?id=' + id + '&tahunDokumen=' + tahunDokumen,
			success: function (response) {
				$("#modalstatusdokumen .modal-body").html(response);
				$("#modalstatusdokumen .modal-title").html(title);
				$("#modalstatusdokumen").modal('show');
			},
			error: function (error) {
				alert('Maaf, terjadi kesalahan sistem.');
			}
		});

	}
</script>