@model CREDA_App.Models.TR_PeriodeDokumen
@{
    Layout = null;
}

<form asp-action="TambahDokumen" enctype="multipart/form-data">
    <div class="form-group title-pilar">
        <label>Cabang</label>
        <input type="hidden" asp-for="kode_cabang" value="@ViewBag.namaCabang.kode_cabang">
        <input type="text" asp-for="kode_cabang" class="form-control mt-2" value="@ViewBag.namaCabang.nama_cabang" disabled>
    </div>
    <div class="form-group margin-top-md title-pilar mt-3">
        <label>Periode Dokumen</label>
        <select id="TxtUserRole" asp-for="tahun_dokumen"
            class="form-control form-select mt-2" aria-label=".form-select-sm example">
            <option selected value="">Pilih...</option>
            @foreach (var tahun in @ViewBag.tahunDokumen) {
                <option value="@tahun">@tahun</option>
            }
        </select>
    </div>

    <div class="modal-footer mt-3">
        <button type="button" class="btn-batalkan ms-2" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Batalkan </button>
        <button type="submit" class="btn-warning-custom ms-2" style="background-color: #FFCA0D;">Simpan <i class="fa-solid fa-floppy-disk"></i></button>
    </div>
</form>